{% extends 'base.html.twig' %}

{% block title %}SQVALD | Documents{% endblock %}

{% block style %}
	<style>
        #resetFilter {
            text-transform: none;
            font-weight: normal;
        }

        #resetFilter:hover {
            font-style: italic;
            font-weight: bold;
        }
	</style>
{% endblock %}

{% block body %}
	<main>
		<h1 class="container">Documents</h1>
		<div class="container mt-3">
			<div class="d-flex align-items-center">
				<h2 class="d-inline">Recherche</h2>
				<a class="text-muted mx-4 text-decoration-none" id="resetFilter" href="{{ path('documents_index') }}">Supprimer
					les filtres</a>
			</div>
		</div>

		{# <h2 class="container mt-3">Recherche</h2> #}
		<hr class="featurette-divider mt-0 mb-3">
		<div>
			<!-- Affichage des catégories -->
			<div class="container">
				<div class="row">
					{{ form_start(form) }}
					{{ form_row(form.keyword) }}
				</div>
				{{ form_label(form.categories) }}
				<div class="row my-2 py-2 border-top border-bottom">
					{% for i in 0..form.categories|length-1 %}
						<div class="col-3">
							{{ form_widget(form.categories[i]) }}
							{{ form_label(form.categories[i]) }}
						</div>
					{% endfor %}
				</div>
				<div class="row">
					<div class="col-6">
						{{ form_row(form.fromDate) }}
					</div>
					<div class="col-6">
						{{ form_row(form.toDate) }}
					</div>
				</div>
				{{ form_rest(form) }}
				{{ form_end(form) }}
			</div>
		</div>
		<h2 class="container mt-0">Résultats</h2>
		<hr class="featurette-divider mt-0 mb-0">
		<div class="container">
			{% for document in documents %}
				<a href="{{ path('showDocument', {'slug':document.slug}) }}"
				   style="color: black; text-decoration: none; padding: 0; text-transform: none">
					<div class="member-entry fw-normal p-1">
						<div class="row member-details w-100 m-0">
							{% if document.picture %}
								<div class="col-4 p-0">
									<img class="img-fluid rounded" src="{{ vich_uploader_asset(document, 'imageFile') }}" alt="{{ document.title }}">
								</div>
							{% endif %}
							<div class="col-{% if document.picture %}8{% else %}12{% endif %} p-3">
								<div class="d-flex h-100 flex-column justify-content-between">
									<div class="d-flex w-100 justify-content-between mb-2">
										<h3 class="h4">[{{ document.categorydonnees }}] {{ document.title }}</h3>
										<p class="m-0">{{ document.createdAt|format_datetime(locale='fr',pattern='d MMM Y') }}</p>
									</div>
									<p style="font-size: 1rem">{{ document.getSummary }}</p>
									<p class="m-0">Auteur(s) :
										{% for author in document.author %}
											{% if loop.index != 1 %}
												{{ ', ' }}
											{% endif %}
											{{ author.getFullName }}
										{% endfor %}
									</p>
								</div>
							</div>
						</div>
					</div>
				</a>
			{% endfor %}
			<div class="d-flex justify-content-center">
				{% do documents.setPageRange(5) %}
				{{ knp_pagination_render(documents, 'pagination/pagination.html.twig') }}
			</div>
		</div>
	</main>
{% endblock %}

