{% extends 'base.html.twig' %}

{% block title %}SQVALD | Espace personnel{% endblock %}

{% block style %}
	<style>
        .btn-del {
            cursor: pointer;
            padding: .5rem .75rem;
            border: solid 2px #dc3545;
            color: #dc3545;
            background-color: transparent;
        }

        .btn-del:hover {
            color: white;
            background-color: #dc3545;
        }

        .required:after {
            content: ' *';
            color: red;
        }
	</style>
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row">
			<div class="col-3 border bg-light">
				<h1 class="my-2">{{ app.user.getFullname }}</h1>
				<hr class="featurette-divider my-4 mx-0">
				<ul>
					<li class="mb-4">Inscrit depuis
						le {{ app.user.createdAt|format_datetime(locale='fr',pattern='d MMM Y') }}</li>
					{% if app.user.documents|length > 0 %}
						<li class="mb-2">{{ app.user.documents|length }}
							document{% if app.user.documents|length > 1 %}s{% endif %}
							rédigé{% if app.user.documents|length > 1 %}s{% endif %}
						</li>
					{% else %}
						<li class="mb-2">Aucun document rédigé</li>
					{% endif %}

					{% if app.user.events|length > 0 %}
						<li class="mb-2">{{ app.user.events|length }}
							évènement{% if app.user.events|length > 1 %}s{% endif %}
							renseigné{% if app.user.events|length > 1 %}s{% endif %}
						</li>
					{% else %}
						<li class="mb-2">Aucun évènement renseigné</li>
					{% endif %}

					{% if app.user.newstypes|length > 0 %}
						<li class="mb-2">{{ app.user.newstypes|length }}
							nouvelle{% if app.user.newstypes|length > 1 %}s{% endif %}
							publiée{% if app.user.newstypes|length > 1 %}s{% endif %}
						</li>
					{% else %}
						<li class="mb-2">Aucune nouvelle publiée</li>
					{% endif %}

					{% if app.user.videos|length > 0 %}
						<li class="mb-2">{{ app.user.videos|length }}
							vidéo{% if app.user.newstypes|length > 1 %}s{% endif %}
							postée{% if app.user.newstypes|length > 1 %}s{% endif %}
						</li>
					{% else %}
						<li class="mb-2">Aucune vidéo postée</li>
					{% endif %}
				</ul>
			</div>
			<div class="col-9 border p-0">
				<nav class="navbar navbar-expand bg-light justify-content-between">
					<div>
						<ul class="nav" role="tablist">
							<li class="nav-item">
								<a href="#infos-content" id="infos-tab" aria-controls="infos" data-toggle="tab"
								   class="nav-link" role="tab"> Mes Informations</a>
							</li>
							<li class="nav-item">
								<a href="#documents-content" id="documents-tab" aria-controls="documents"
								   data-toggle="tab" class="nav-link" role="tab">Mes Documents</a>
							</li>
							<li class="nav-item">
								<a href="#events-content" id="events-tab" aria-controls="events" data-toggle="tab"
								   class="nav-link" role="tab">Mes Évènements</a>
							</li>
							<li class="nav-item">
								<a href="#news-content" id="news-tab" aria-controls="news" data-toggle="tab"
								   class="nav-link" role="tab">Mes Nouvelles</a>
							</li>
							<li class="nav-item">
								<a href="#videos-content" id="videos-tab" aria-controls="videos" data-toggle="tab"
								   class="nav-link" role="tab">Mes Vidéos</a>
							</li>
						</ul>
					</div>
					{% if is_granted('ROLE_ADMIN') %}
						<div>
							<a href="{{ path('admin') }}" class="nav-link">Admin</a>
						</div>
					{% endif %}
				</nav>
				<div class="tab-content px-0 pt-2">

					{{ include('account/info_part.html.twig') }}
					{{ include('account/document_part.html.twig') }}
					{{ include('account/event_part.html.twig') }}
					{{ include('account/news_part.html.twig') }}
					{{ include('account/video_part.html.twig') }}

				</div>
			</div>
		</div>
	</div>
{% endblock %}