{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}
	<main>
		{# Caroussel Data #}
		<div id="dataCarousel" class="carousel slide carousel-dark mb-0" data-bs-ride="carousel">
			<div class="carousel-inner border-0">
				{# News #}
				{% for cNews in news %}
					<div class="carousel-item {% if loop.index == 1 %}active{% endif %}"
						 style="background-color: #4ade80">
						<div class="carousel-caption text-start carousel-responsive justify-content-center mb-0"
							 style="padding: 0.5rem 15%; position:initial;">
							<div class="col-lg-12 partenaire-txt">
								<h4 class="partenaire-title">Dernière nouvelle</h4>
								<p>{{ cNews.title }}</p>
								<p>{{ cNews.resume }}</p>
								<p>{{ cNews.createdAt|date('d-m-Y') }}</p>
								<p>
									{% for author in cNews.authors %}
										{% if loop.index != 1 %}
											{{ ', ' }}
										{% endif %}
										{{ author.getFullName }}
									{% endfor %}
								</p>
								{# <p><a class="link" href="{{ path('showNews', {'id' : cNews.id}) }}">Découvrir</a></p> #}
							</div>
						</div>
					</div>
				{% endfor %}
				Event
				{% for event in events %}
					<div class="carousel-item" style="background-color: skyblue">
						<div class="carousel-caption text-start carousel-responsive justify-content-center mb-0"
							 style="padding: 0.5rem 15%; position:initial;">
							<div class="col-lg-12 partenaire-txt">
								<h4 class="partenaire-title">Prochain évènement</h4>
								<p>{{ event.title }}</p>
								<p>Du {{ event.dateBegin | date("d/m/y") }} au {{ event.dateEnd | date("d/m/y") }}</p>
								<p>{{ event.place }}</p>
								<p>{{ event.resume }}</p>
								<p>
									{% for author in event.author %}
										{% if loop.index != 1 %}
											{{ ', ' }}
										{% endif %}
										{{ author.getFullName }}
									{% endfor %}
								</p>
								<p><a class="link" href="{{ path('showEvent', {'slug' : event.slug}) }}">Découvrir</a>
								</p>
							</div>
						</div>
					</div>
				{% endfor %}
				{# Document #}
				{% for document in documents|slice(0, 1) %}
					<div class="carousel-item" style="background-color: palevioletred">
						<div class="carousel-caption text-start carousel-responsive justify-content-center mb-0"
							 style="padding: 0.5rem 15%; position:initial;">
							<div class="col-lg-12 partenaire-txt">
								<h4 class="partenaire-title mt-0">Dernier document</h4>
								<p class="mt-0">{{ document.title }}</p>
								<p>{{ document.createdAt | date("d/m/y") }}</p>
								<p>{{ document.resume }}</p>
								<p>
									{% for author in document.author %}
										{% if loop.index != 1 %}
											{{ ', ' }}
										{% endif %}
										{{ author.getFullName }}
									{% endfor %}
								</p>
								<p><a class="link" href="{{ path('showDocument', {'slug':document.slug}) }}">Lire</a>
								</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#dataCarousel" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#dataCarousel" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<hr class="featurette-divider my-0">

		{# Le text de la home page #}
		<div class="container py-4">
            <div class="row">
                <h1 class="border-bottom my-3 h2">Le projet SQVALD</h1>
                <p style="font-size: 1.25rem">La transformation numérique de la société et l’irruption des outils “intelligents” dans la vie quotidienne ont progressivement et activement changé le rapport des patients à la médecine. Ces changements sont marqués par le développement de l’e-santé à travers le déploiement d’outils numériques sur le plan national et régional. La région Centre Val de Loire s’est fortement positionnée dans ce domaine à travers le déploiement de la plateforme e-parcours et ses nombreux services d’accompagnement pour les patients et les soignants. D’un autre côté, les patients et leurs aidants sont de plus en plus entourés d’outils intelligents qui leur sont propres (smartphone, montres connectées, etc.) ou présents dans les structures de soins (appareil de suivi ou de diagnostic, etc.) ou même dans le contexte plus global du déploiement de l’Internet des Objets et villes intelligentes. L’objectif de ce projet est de mettre en place une approche innovante d’accompagnement continu des patients hors mûrs en complémentarité avec la démarche e-santé de l’ARS et en articulation notamment avec la plateforme e-parcours. Il s’agit d’exploiter le contexte technologique pour proposer au patient un suivi régulier et non-intrusif en cohérence avec son parcours de soins, lui permettant ainsi de prendre en main le contrôle de l’évolution de son état de santé et de contribuer à l’amélioration de sa qualité de vie. En coordination avec les professionnels de santé, ce suivi pourra compléter leur vision sur l’évolution du patient entre deux rendez-vous de suivi prévus dans le parcours de soins et renforcer ainsi la coordination dans l’intérêt du patient et de l’amélioration de sa qualité de vie.</p>
            </div>
		</div>

		{# Caroussel Partenaires #}
		<h4 class="partenaire-title border-bottom" style="padding: 0 0 0.5rem 2rem">Nos partenaires</h4>
		<div id="partnerCarousel" class="carousel slide carousel-dark mb-0" data-bs-ride="carousel">
			<div class="carousel-inner border-0">
				{% for partner in partners %}
					<div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
						<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
							 aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
							<rect width="100%" height="100%" fill="#FFF"/>
						</svg>
						<div class="carousel-caption text-start carousel-responsive justify-content-center mb-0 row">
							<div class="col-lg-5">
								<div class="partenaire-img">
									<img class="img-resize" src="{{ vich_uploader_asset(partner, 'illustrationFile') }}"
										 alt="{{ partner.content }}">
								</div>
							</div>
							<div class="col-lg-7 partenaire-txt">
								<p>{{ partner.content }}</p>
								<p><a class="link" href="{{ partner.btnUrl }}">Découvrir</a></p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#partnerCarousel" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#partnerCarousel" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</main>





{% endblock %}
